{% extends 'base.html.twig' %}

{% block title %}{{ pages.title | striptags | raw }}{% endblock %}

{% block body %}
<section class="">
    <div class="container-fluid" id="">
        <div class="row">
            <div class="col text-center mt-5 mb-3">
                <h1 class="">
                {{ pages.title | striptags | raw  }}
                </h1>
            </div>
        </div>
    </div>
</section>
{% for page in findId %}
    {% if page.id == 1 %}
        {% include "shared/_blockPage1.html.twig" 
        with{'slug': 'mariage-champetre'} 
        only 
        %}
    {% elseif page.id == 2 %}
        {% include "shared/_blockPage2.html.twig" 
        with{'slug': 'mariage-tradition-prestige'} 
        only 
        %}
    {% elseif page.id == 3 %}
        {% include "shared/_blockPage3.html.twig" 
        with{'slug': 'bbq-cochon'} 
        only 
        %}
    {% elseif page.id == 4 %}
        {% include "shared/_blockPage4.html.twig" 
        with{'slug': 'entreprise'} 
        only 
        %}
    {% endif %}
{% endfor %}
<section class="section">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col text-center">
                <h3>Pour connaitre nos options et détails
                </br>
                <span class="spanPageS4">
                Télécharger nos brochures :
                </span>
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            {% for pdf in findPdfs %}
            <div>
                <button type="button" class="mx-auto active" id="buttonpdf">
                <a class="" href="{{ asset('build/pdfs/'~ pdf.title) }}"
                alt="{{ pdf.title }}">
                {{ pdf.title }}  <i class=""><i class="fa-regular fa-file-pdf pl-2"></i></i>
                </a>
                </button>
            </div>
            {% endfor %}
             
        </div>
    </div>
</section>
<section class="container" id="bgS1Page">
    <div class="row">
        <div class="col text-center">
            <h2 class="GalerieShowPage mt-3">Notre Galerie</h2>
        </div>
        <div class="row">
            <div class="col mb-4 mt-5 ml-5 pb-5 text-center">
                <div id="carouselExampleControls" 
                class="carousel slide" 
                data-bs-ride="carousel">
                    <div class="carousel-inner">
                    {% for pageImg in findImages %}
                        <div id="carouselExampleInterval" 
                        class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item {% if loop.first == 0 %}active{% endif %}" data-bs-interval="10000">
                                <img src="{{ vich_uploader_asset(pageImg, 'imageFile') }}" style="max-width: 400px" alt="{{ pageImg.title }}">
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
