{% extends 'base.html.twig' %}

{% block title %}{{ pages.title | striptags }}{% endblock %}

{% block body %}
<section class="section1">
    <div class="container-fluid" id="bgS1Page">
        <div class="row">
            <div class="col text-center mt-1">
                <h1 class="colorTxtS1Page">
                {{ pages.title | striptags | raw  }}
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
        <div class="row">
            <card class="col mb-3 mt-3 pb-3 text-center">
                {% for page in pages %}
                    {% for image in images %}
                    <img class="imgPage" 
                    src="{{ vich_uploader_asset(image,'imageFile')}}" 
                    alt="photo convivialevent">
                    {% endfor %}
                <div class="card">
                    <p class="card-text mt-2">
                    {{ page.content | striptags | raw }}
                    </p>
                </div>
                {% endfor %}
            </card>
        </div>
</section>
<section class="section">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col text-center">
                <h3>Pour connaitre nos options et détails
                </br>
                <span class="spanPageS4">
                Télécharger nos brochures :
                </span>
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            {% for pdf in findPdfs %}
            <div class="">
                <button class="" id="buttonpdf">
                <a class="" href="{{ asset('build/pdfs/'~ pdf.title) }}"
                alt="{{ pdf.title }}">
                {{ pdf.title }}  <i class="fa-solid fa-file-import ml-2" style="color:black"></i>
                </a>
                </button>
            </div>
            {% endfor %}
             
        </div>
    </div>
</section>
<section class="container-fluid" id="bgS1Page">
    <div class="row">
        <div class="col text-center">
            <h2 class="GalerieShowPage mt-3">Notre Galerie</h2>
        </div>
        <div class="row">
            <div class="col mb-4 mt-5 ml-5 pb-4 text-center align-items-center">
                <div id="carouselExampleControls" 
                class="carousel slide" 
                data-bs-ride="carousel">
                    <div class="carousel-inner">
                    {% for pageImg in images %}
                        <div id="carouselExampleInterval" 
                        class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item {% if loop.first == 0 %}active{% endif %}" data-bs-interval="10000">
                                <img src="{{ vich_uploader_asset(pageImg, 'imageFile') }}" style="max-width: 400px" alt="{{ pageImg.title }}">
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
