{% extends 'base.html.twig' %}

{% block title %}Détails de {{ recipe.title }}{% endblock %}

{% block body %}
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="recipePagetxtSection2">Les recettes que vous propose </br> Convivial Event</h1>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="textSection3">{{ recipe.title}}</h2>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-5">
                <span><img class="recipePageImgSection3" src="{{ asset('build/images/toque.webp') }}" alt="icone difficulty"></span>
                <span><img class="recipePageImgSection3" src="{{ asset('build/images/toque.webp') }}" alt="icone difficulty"></span>
            </div>
            <div class="col-5"><p class="textSection3Bis">{{ recipe.difficulty}}</p></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-5" id="marginRecipeSection3">
                <span><img id="recipePageImgSection3" src="{{ asset('build/images/time.webp') }}" alt="icone time"></span>
            </div>
            <div class="col-5">
                <p class="textSection3Bis">{{ recipe.time }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" id="imgSection3Details" style:"width:150px; heigth:150px">
            {% for img in recipeImage %}
                <img class="figure-img img-fluid rounded" 
                src="{{ vich_uploader_asset(recipeImage, 'imageFile') }}" 
                alt="photo recette"
                >              
            {% endfor %}
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col" id="section4">
            <ul>Ingrédients 
            {% for recipeIngredient in recipeIngredients %}
                <li id="recipePageLiSection4">
                    {{ recipeIngredient.quantity }}-{{ recipeIngredient.quantityName }}-{{ recipeIngredient.name }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section class="container mb-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="section5">
            {% for recipeStep in recipeSteps %}
            <ul id="recipePageLiSection5">étapes {{ recipeStep.position  }} :
                <li id="recipePageLiSection4">
                    {{ recipeStep.content | raw }}
                </li>
            </ul>
            {% endfor %}
        </div>
         <div class="">
            <button class="textSection3"><a href="{{ path('receipts_list') }}">Retour vers les Recettes</button>
        </div>
</section>
{% endblock %}
