{% extends 'base.html.twig' %}

{% block title %}Détails de {{ recipe.title }}{% endblock %}

{% block body %}
<section class="detail_recettes">
    <div class="detail_recettes_text">
        <h1 class="detail_recettes_titre">Les recettes que vous propose </br> Convivial Event</h1>
    </div>
</section>
<section class="recipe_title_section">
    <div class="recipe_title_container">
        <div class="recipe_title_text">
            <h2 class="recipe_title_h2">{{ recipe.title}}</h2>
        </div>
        {# <div class="row">
            <div class="col-2"></div>
            <div class="col-5">
                <span><img class="recipePageImgSection3" src="{{ asset('build/images/toque.webp') }}" alt="icone difficulty"></span>
                <span><img class="recipePageImgSection3" src="{{ asset('build/images/toque.webp') }}" alt="icone difficulty"></span>
            </div>
            <div class="col-5"><p class="textSection3Bis">{{ recipe.difficulty}}</p></div>
        </div> #}
        {# <div class="row">
            <div class="col-2"></div>
            <div class="col-5" id="marginRecipeSection3">
                <span><img id="recipePageImgSection3" src="{{ asset('build/images/time.webp') }}" alt="icone time"></span>
            </div>
            <div class="col-5">
                <p class="textSection3Bis">{{ recipe.time }}</p>
            </div>
        </div> #}
    </div>
    <section class="section_img">
        <div class="container_img" id="imgSection3Details" style:"width:150px; heigth:150px">
            {% for img in recipe %}
                <img class="img_recipe" 
                src="{{ vich_uploader_asset(img, 'imageFile') }}" 
                alt="photo recette"
                >              
            {% endfor %}
        </div>
    </section>
</section>
<section class="ingredients">
    <div class="container_ingredients">
        <div class="content">
            <ul>Ingrédients 
            {% for recipeIngredient in recipeIngredients %}
                <li id="">
                    {{ recipeIngredient.quantity }}-{{ recipeIngredient.quantityName }}-{{ recipeIngredient.name }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section class="recipe_step">
    <div class="recipe_step_container">
        {% for recipeStep in recipeSteps %}
        <ul class="recipe_step">étapes {{ recipeStep.position  }} :
            <li id="recipe_text">
                {{ recipeStep.content | raw }}
            </li>
        </ul>
        {% endfor %}
    </div>
</section>
<section class="reseaux_sociaux">
        <div class="container_reseaux">
            <h2 class="reseaux_text" >
                Partager sur vos réseaux préférés...
            </h2>
        </div>
        <div class="d-flex justify-content-center pr-2">
        {% include 'shared/_shared.html.twig' %}
        </div>
</section>
<section class="container">
         <div class="text-center">
            <a class="textSection3"><a href="{{ path('recettes_list') }}">Retour vers les Recettes</a>
        </div>
</section>
<section class="container">
    <div class="text-center">
        {% include 'commentaire/form.html.twig' %}
        {% include 'commentaire/commentaires.html.twig' %}
    </div>
</section>
{% endblock %}
