{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
    <section1 class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="text-center mt-3 pb-3 ">
                <img class="imageLogoConvivial" src="{{ asset('build/images/logohorizontal2.webp') }}" alt="logo convivial">
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</section1>
<section2 class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4 mt-5 pb-4 text-center">
            <p class="listrecipePagetxtSection2">Les recettes que </br> vous propose </br> Convivial Event</p>
        </div>
    </div>
</section2>
<section3 class="container">
    <div class="contenantSection4">
                <img class="imgHomeFixeS4" src="{{ asset('/build/images/boulPizz.0648ce00.webp') | imagine_filter('my_thumb') }}" alt="photo image home fixe">
            </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4 mt-5 pb-4 text-center">
            <p class="listrecipePagetxtSection3">Une sélection de recettes </br> à faire chez vous oû </br> à partager avec vos amis !!!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form(form) }}     
        </div>
    </div>
</section4>
<section5 class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                {% for res in recipes %}
                <card>
                    <img class="card-img-top" src="{{ vich_uploader_asset(res.image[0],'imageFile') }}" alt="photo recettes">
                    <div class="card-body">
                        <P class="card-title"><a href="{{ path('receipts_detail', {slug:res.slug}) }}" src="recipe image">{{ res.slug }}</a></P>
                    </div>
                    <div class="card-footer">
                        <p class="textSection5">{{ res.difficulty}}</p>
                    </div>
                </card>
                {% endfor %}
            </div>
        </div>
        <div class="navigation">
        {{ knp_pagination_render(recipes) }}
        </div>
    </div>
</section5>
{% endblock %}
