{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
    <section1 class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="text-center mt-3 pb-3 ">
                <img class="imageLogoConvivial" src="{{ asset('build/images/logohorizontal2.webp') }}" alt="logo convivial">
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</section1>
<section2 class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <p class="listrecipePagetxtSection2">Les recettes que </br> vous propose </br> Convivial Event</p>
        </div>
        <div class="col-1"></div>
    </div>
</section2>
<section3 class="container-fluid" id="bgListRecipePageS3">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <p class="listrecipePagetxtSection3">Une sélection de recettes </br> à faire chez vous oû </br> à partager avec vos amis !!!</p>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col">
            {{ form(form) }}     
        </div>
    </div>
</section4>
<section5 class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card-group">
            {% for res in recipes %}
                <div class="card">
                    <img class="recipeListImgSection5" src="{{ asset('images/' ~ res.title ~ '.webp') }}" alt="photo recettes">
                </div>
                <div class="card-body">
                    <P class="card-title"><a href="{{ path('receipts_detail', {slug:res.slug}) }}" src="recipe image">{{ res.slug }}</a></P>
                </div>
                <div class="card-footer">
                    <p class="textSection5">{{ res.difficulty}}</p>
                </div>
                {% endfor %}
                <div class="navigation">
                    {{ knp_pagination_render(recipes) }}
                </div>
            </div>
        </div>
    </div>
</section5>
{% endblock %}
