
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
    
{% block body %}

<section class="presentation_traiteur">
    <div class="pres">
        <p class="pres1">Votre traiteur événementiel Conviviale & Responsable</p>
        <p class="pres2">Présent dans l'Aube & dans l'Yonne</p>
        <p class="pres3"> Qu'il soit champêtre, dinatoire ou conviviale, 
        nous personnaliserons vôtre mariage.</p>
        <p class="pres4">Selon vos désirs, ambiance, repas, brunch et surtout timing, 
        tout sera à votre image !</p>
        <p class="pres5">Vous en rêviez , Convivial Event l'a fait !</p>
    </div>
</section>
<section class="ambiances">
    <h2 class="txt_ambiances">~ Nos ambiances ~</h2>
</section>
<section class="container_wedding">  
    {% for key, wedding in weddings %}
        {% if loop.index % 2 %}
            <div class="weddings1">
                <div class="wedding1">
                        <img class="img_wedding" 
                        src="{{ vich_uploader_asset(wedding, 'imageFile') }}" 
                        alt="photo convivialevent"
                        >  
                </div>
                <div class="wedding2">
                    <div class="card-body">
                        <h2 class="card-title">
                        {{ wedding.title | raw }}
                        </h2>
                        <p class="card-text">
                        {{ wedding.content | raw }}
                        </p>
                        <a class="" id="lienS3Home" 
                        href="{{ path('page_show', 
                        {slug:wedding.page.slug}) }}">
                        Clicker ici pour découvrir
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="weddings2">
                <div class="wedding3">
                    <div class="card-body">
                        <h2 class="card-title">
                        {{ wedding.title | raw }}
                        </h2>
                        <p class="card-text">
                        {{ wedding.content | raw }}
                        </p>
                        <a class="" id="lienS3Home" 
                        href="{{ path('page_show', {slug:wedding.page.slug}) }}"
                        >Clicker ici pour découvrir
                        </a>
                    </div>
                </div>
                <div class="wedding4">
                    <img class="img_wedding" 
                    src="{{ vich_uploader_asset(wedding, 'imageFile') }}" 
                    alt="photo convivialevent"
                    >
                </div>
            </div>
        {% endif %}
    {% endfor %}
</section>
<section class="convivial-text">
    <div class="convivial-text-content">
        <p class="convivial-text-content-p1">
            CONVIVIALEVENT
        </p>
        <p class="convivial-text-content-p2">            
            l'autre façon de recevoir...
        </p>
    </div>
</section>
<section class="ambiances">
    <h2 class="txt_ambiances"> Ce que l'on dit de nous </h2>
</section>
<section class="testimanials">
    <div class="container">
        <div class="testimanials-content">
            <div class="testimanials-elem1">
                <img class="testimanials-img" 
                src="{{ asset('build/images/badge-rated-10.webp') }}" alt="logo mariage.net">
            </div>
            <div class="testimanials-elem2">
                <button class="testimonials-button">
                    <a class="testimonials-text" 
                    href='https://www.mariages.net/traiteur-mariage/convivial-event--e136299' 
                    target="blank">Nos commentaires</a>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="ambiances">
    <h2 class="txt_ambiances">~ Nos partenaires & lieux d'exceptions ~</h2>
</section>
<section class="container-fluid mt-5 mb-4">
</section>
<section class="container">
    <div class="row">
        <div class="col mb-4 mt-2 pb-4">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="6000" id="carouselItemS6Bis">
                        <img class="img rounded-4 hover-shadow w-75" 
                        src="{{ asset('build/images/Château-du-Fey.webp') | imagine_filter('my_thumb_scale') }}" 
                        alt="image partenaire">
                        <div class="carousel-caption" id="divCarouselCaptionS6Bis">
                            <h5 class="carousel-size" id="carouselSizeS6Bis">Château du Fey</h5>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="6000" id="carouselItemS6Bis">
                        <img class="img rounded-4 hover-shadow w-75" 
                        src="{{ asset('build/images/Abbaye-Vauluisant.webp') | imagine_filter('my_thumb_scale') }}" 
                        alt="abbaye-vauluisant">
                        <div class="carousel-caption" id="divCarouselCaptionS6Bis">
                            <h5 class="carousel-size" id="carouselSizeS6Bis">Abbaye de Vauluisant</h5>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="6000" id="carouselItemS6Bis">
                        <img class="img rounded-4 hover-shadow w-75" 
                        src="{{ asset('build/images/carre-de-lailly.jpg') | imagine_filter('my_thumb_scale') }}" 
                        alt="carre de lailly">
                        <div class="carousel-caption" id="divCarouselCaptionS6Bis">
                            <h5 class="carousel-size" id="carouselSizeS6Bis">Carré de Lailly</h5>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="6000" id="carouselItemS6Bis">
                        <img class="img rounded-4 hover-shadow w-75" 
                        src="{{ asset('build/images/Les-Beauchots.webp') | imagine_filter('my_thumb_scale') }}" 
                        alt="image partenaire">
                        <div class="carousel-caption" id="divCarouselCaptionS6Bis">
                            <h5 class="carousel-size" id="carouselSizeS6Bis">Les Beauchots</h5>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="6000" id="carouselItemS6Bis">
                        <img class="img rounded-4 hover-shadow w-75" 
                        src="{{ asset('build/images/Chateau-Montabert.webp') | imagine_filter('my_thumb_scale') }}" 
                        alt="image partenaire">
                        <div class="carousel-caption" id="divCarouselCaptionS6Bis">
                            <h5 class="carousel-size" id="carouselSizeS6Bis">Château de Montabert</h5>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" 
                data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" 
                data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="ambiances">
    <h2 class="txt_ambiances"> Des recettes entre amis... </h2>
</section>
<section class="container">
    <div class="row" id="bgGrey">
        <div class="contenantSection7">
            <img class="imgHomeFixeS7" 
            src="{{ asset('build/images/ai-generated-8587027_1280.webp') | imagine_filter('my_thumb') }}" 
            alt="photo image home fixe">
            <a class="txtSection7" href="{{ path('recettes_list') }}">Voir les Recettes</a>
        </div>
    </div>
    <div class="row" id="bgGrey"></div>
</section>
<section class="ambiances">
    <h2 class="txt_ambiances"> Un devis, une question... </h2>
</section>
<section class="contact">
    <div class="container">
        <div class="sectionContact-titre">
            <h2 class="">Comment nous contacter :</h2>
        </div>
        {# <div class="col text-center" id="divHomeS8">
            <a id="buttonS8" href="{{ path('contact') }}" role="button">
            Contactez-nous !</a>
        </div> #}
        <div class="sectionContact-tel">
            <p class="tailleTxtFlex1">06 75 33 08 23</p>
        </div>
        <div class="sectionContact-mail">
            <p class="section9FlexTxtMail">convivialevent@yahoo.fr</p>
        </div>
        <div class="sectionContact-horaires">
            <div class="tailleTxtFlex2">
                <h3>Horaires :</h3>
            </div>
            <div class="section9Flex2-2">
                <p><span class="section9Flex2-2Txt">Du lundi au vendredi de 8h00 à 19h00</span></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
 <!--Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
crossorigin="anonymous">
</script>
<!-- Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!--librairie AOS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
{% endblock %}

