{% extends 'base.html.twig' %}

{% block title %}Nos partenaires & lieux d'exceptions{% endblock %}
    
{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h1 class="text-center">Nos partenaires & lieux d'exceptions</br></h1> 
                </div>
                <div>
                    <h2 class="text-center mt-5 mb-5">
                        Des lieux d'exception pour une réception inoubliable et hors du temps
                    </H2>
                </div>
                
            </div>
        </div>   
    </section>
    <section class="container-fluid text-center">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="{{ asset('build/images/Château-du-Fey.webp') | imagine_filter('miniature') }}" class="card-img-top" alt="image partenaire">
                    <div class="card-body">
                        <h5 class="card-title">Château du Fey</h5>
                        <p class="card-text">Le château du Fey est un château situé à Villecien (yonne-89), en France.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ asset('build/images/Abbaye-Vauluisant.webp') | imagine_filter('miniature') }}" class="card-img-top" alt="abbaye-vauluisant">
                    <div class="card-body">
                        <h5 class="card-title">L'Abbaye de Vauluisant</h5>
                        <p class="card-text">L'abbaye se trouve proche de la commune de Villeneuve l'Archevêque (yonne-89)</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ asset('build/images/carre-de-lailly.jpg') | imagine_filter('miniature') }}" class="card-img-top" alt="carre de lailly">
                    <div class="card-body">
                        <h5 class="card-title">Le Carré de Lailly</h5>
                        <p class="card-text">Ancienne ferme du 12ème siècle située à 1h30 de Paris, 20 minutes de Sens et 40 minutes de Troyes.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ asset('build/images/Les-Beauchots.webp') | imagine_filter('miniature') }}" class="card-img-top" alt="image partenaire">
                <div class="card-body">
                    <h5 class="card-title">Château Les Beauchôts</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ asset('build/images/Chateau-Montabert.webp') | imagine_filter('miniature') }}" class="card-img-top" alt="image partenaire">
                <div class="card-body">
                    <h5 class="card-title">Château Montabert</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ asset('build/images/vallery.webp') | imagine_filter('miniature') }}" class="card-img-top" alt="image partenaire">
                <div class="card-body">
                    <h5 class="card-title">La Margotière</h5>
                    <p class="card-text">La Margotière se situe à Vallery (Yonne-89) </p>
                </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h1 class="text-center">Location de vaisselle, nappage , châpiteaux , décoration</br></h1> 
                </div>
                <div>
                    <h2 class="text-center mt-5 mb-5">
                        Des partenaires séléctionnés pour vôtre réception sur mesure
                    </H2>
                </div>
            </div>
        </div>   
    </section>
    <section class="container-fluid text-center">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="{{ asset('build/images/téléchargement (2).jpeg') | imagine_filter('miniature') }}" class="card-img)-top" alt="image partenaire">
                <div class="card-body">
                    <h5 class="card-title">Fiesta Avenue</h5>
                    <p class="card-text">Location de matériel de récéption, vaisselle.</br>Décoration de salle de réception</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ asset('build/images/pressing.webp') | imagine_filter('miniature') }}" class="card-img-top" alt="abbaye-vauluisant">
                <div class="card-body">
                    <h5 class="card-title">Pressing du Vaudois</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{{ asset('build/images/pouillot.jpeg') | imagine_filter('miniature') }}" class="card-img-top" alt="carre de lailly">
                <div class="card-body">
                    <h5 class="card-title">Chapiteau Pouillot</h5>
                    <p class="card-text">Location de chapiteaux, mobiliers, lumières pour tous vos évènements dans la région</p>
                </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
