{% extends 'base.html.twig' %}

{% block title %}Page contact{% endblock %}

{% block body %}
<Section class="contact-devis-titre">
    <div class="form-devis-titre">
        <h1 class="form-devis-titre-h1">Demander votre devis</h1>
    </div>
</Section>
<section class="contact-devis">
    <div class="container-contact-devis">
        {# {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4 text-center">
                {{ message }}
            </div>
        {% endfor %} #}
        <div class="form">
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.fullName) }}
                {{ form_widget(form.fullName) }}
                <div>
                    {{ form_errors(form.fullName) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                <div>
                    {{ form_errors(form.email) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone) }}
                <div>
                    {{ form_errors(form.phone) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.eventDate) }}
                {{ form_widget(form.eventDate) }}
                <div>
                    {{ form_errors(form.eventDate) }}
                </div>
            </div>
            <div class="bgInviteForm">
                <h2 class="titreInviteForm">Vos Invités</h2>
                <div class="">
                    <div class="form-group">
                        {{ form_label(form.adultGuest) }}
                        {{ form_widget(form.adultGuest) }}
                    <div>
                        {{ form_errors(form.adultGuest) }}
                    </div>
                </div>
            </div>
                
                <div class="">
                        <div class="">
                            <div class="form-group">
                                {{ form_label(form.childGuest) }}
                                {{ form_widget(form.childGuest) }}
                            <div>
                                {{ form_errors(form.childGuest) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.brunch) }}
                {{ form_widget(form.brunch) }}
                <div>
                    {{ form_errors(form.brunch) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}
                <div>
                    {{ form_errors(form.message) }}
                </div>
            </div>
            <div class="form-group" id="buttonContactCenter">
                <div class="button-form-devis">
                    {{ form_row(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
