<header class="container-fluid">  
    <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ path("app_home") }}"><img class="imageLogo1Convivial" src="{{ asset('build/images/logo1.webp') }}" alt="logo convivial"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto ml-5 mb-lg-0">
                <li class="nav-item">
                    <a class="navbar-brand" href="{{ path("app_home") }}">Accueil<img class="imageLogo1Convivial" src="{{ asset('build/images/logo1.webp') }}" alt="logo convivial"></a> 
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="{{ path("app_contact") }}">Contact<img class="imageLogo1Convivial" src="{{ asset('build/images/logo1.webp') }}" alt="logo convivial"></a> 
                </li>
            </ul>
        </div>
    </nav>
</header>
