<section class="row">
    <div class="col-4">
        <div>
            <img class="iconesResSoc" src="{{ asset('build/images/twitter.png') }}" alt="twitter icones">
            <img class="iconesResSoc" src="{{ asset('build/images/pinterest.png') }}" alt="pinterest logo">
            <img class="iconesResSoc" src="{{ asset('build/images/facebook.png') }}" alt="facebook icones">
            <img class="iconesResSoc" src="{{ asset('build/images/instagram.png') }}" alt="ACME logo">
        </div>
    </div>
    <div class="col-4"><img class="imageLogo" src="{{ asset('build/images/logohorizontal2.jpg') }}" alt="convivial event logo"></div>
    <div class="col-4 pt-2">
        <span class="spanSubNav">GALERIE |</span><span class="spanSubNav">NOUS CONTACTER |</span><span class="spanSubNav">06 75 33 08 23 |</span>
    </div>
</section>