<section class="row">
    <div class="col-4">
        <div>
            <img class="iconesResSoc" src="{{ asset('build/images/twitter.webp') }}" alt="twitter icones">
            <img class="iconesResSoc" src="{{ asset('build/images/pinterest.webp') }}" alt="pinterest logo">
            <img class="iconesResSoc" src="{{ asset('build/images/facebook.webp') }}" alt="facebook icones">
            <img class="iconesResSoc" src="{{ asset('build/images/instagram.webp') }}" alt="insta logo">
        </div>
    </div>
    <div class="col-4"><img class="imageLogo" src="{{ asset('build/images/logohorizontal2.webp') }}" alt="convivial event logo"></div>
    <div class="col-4 pt-2">
            <a class="contactSubNav" href="{{ path('app_contact') }}">Nous contacter |</a><span class="spanSubNav">06 75 33 08 23 |</span><span class="spanSubNav"><a class="contactSubNav" href="{{ path('app_mentions_legales') }}">Mentions Légales |</a></span>
    </div>
</section>