{% for res in recipes %}
    <article class="card">
        <div class="card-img-recette">
            <img class="card-img"  
                data-aos="zoom-in-up" 
                data-aos-easing="ease-in-out"
                data-aos-duration="1100"
                src="{{ vich_uploader_asset(res, 'imageFile') }}" 
                alt="photo recette"
            >
        </div>
        <div class="content">
            <h1 class"card-title-h1"></h1>
            <p class="card-title-p1">{{ 'Durée: ' ~  res.time ~ ' minutes'}}</p>
            <p class="card-title-p2">{{ 'Difficulté: ' ~ res.difficulty}}</p>
            <a class="card-title-lien" href="{{ path('recettes_detail', 
                {slug:res.slug}) }}" 
                src="recipe image">{{ res.title|capitalize }}
            </a>
        </div>
    </article>
{% endfor %}


