<div class="row row-cols-1 row-cols-md-3 g-4 mb-5 mt-5">
    {% for res in recipes %}
    <div class="col mt-5">
        <div class="card h-100" style="width:20rem" id="clickable-card">
            <img class="card-img-top rounded"  
                data-aos="zoom-in-up" 
                data-aos-easing="ease-in-back"
                data-aos-duration="1100"
                src="{{ vich_uploader_asset(res, 'imageFile') }}" 
                alt="photo recette" style="min-width:250px; min-heigth:200px"
            >  
            <div class="card-body text-center">
                <P class="card-title">
                    <a href="{{ path('receipts_detail', 
                    {slug:res.slug}) }}" 
                    src="recipe image">{{ res.title|capitalize }}
                    </a>
                </P>
            </div>
            <div class="row mx-auto my-auto">
                <div class="card-footer col-6">
                    <p class="textSection5">{{ res.time ~ ' minutes'}}</p>
                </div>
                <div class="card-footer col-6">
                    <p class="textSection5">{{ res.difficulty}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>